<div class="container">
    <div class="row m-5">
  
      <div class="col-lg-6">
        <mat-card appearance="outlined" class="cardstyle">
          <mat-card-header>
            <mat-card-title> Australian</mat-card-title>
            
          </mat-card-header>
          <mat-card-content>
            Some content here
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Learn More</button> 
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-6">
        <mat-card appearance="outlined" class="cardstyle">
          <mat-card-header>
            <mat-card-title> German </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Some content here
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Learn More</button> 
          </mat-card-actions>
        </mat-card>
      </div>
  </div>
</div>